@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #9d0b28;
}

a:hover {
  color: #ff004d;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#header .header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}
#header .header-inner-pages {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
#header .logo a {
  color: #ff004d;
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #556270;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar .active {
  color: #ff004d;
}
.navbar .asesorias {
  background: #ff004d;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  transition: transform 0.5s;
}

.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #556270;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active:focus, .navbar li:hover > a {
  color: #ff004d;
}

.navbar .active:focus, .navbar li .asesorias:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar .asesorias:focus {
  background: #9d0b28;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
}

.navbar.asesorias:hover, .navbar.asesorias:focus:hover {
  color: #fff;
  background: #ff004d;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

@media (max-width: 1366px) {
  .navbar ul {
    left: -90%;
  }

  .navbar > ul {
    left: -100%;
  }
}
.mobile-nav-toggle {
  color: #556270;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle .bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(63, 73, 83, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}
.navbar-mobile .asesorias {
  margin: 15px;
}

.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #ff004d;
}

.navbar-mobile .asesorias:focus {
  margin: 15px;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(63, 73, 83, 0.9);
  overflow: hidden;
  position: relative;
}
#hero .carousel {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active, #hero .carousel-inner .carousel-item-next.carousel-item-start, #hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-inner .carousel-item-next, #hero .carousel-inner .carousel-item-prev, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}
#hero .container {
  text-align: center;
}
#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}
#hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #9d0b28;
}

#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #9d0b28;
}

#hero .btn-get-started:hover {
  background: #5a082d;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 8px;
  }
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.breadcrumbs {
  padding: 18px 0;
  background: #f8f9fa;
  min-height: 40px;
  margin-top: 80px;
}
.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  color: #ff004d;
  transition: 0.3s;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6b7b8d;
  content: "/";
}

.breadcrumbs ol li + li:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    margin-bottom: 10px;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}
.rutinas .rutinas-item {
  margin-bottom: 30px;
}
.rutinas #rutinas-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.rutinas #rutinas-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #556270;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.rutinas .rutinas-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(85, 98, 112, 0.6);
}
.rutinas .rutinas-wrap img {
  transition: all ease-in-out 0.3s;
}
.rutinas .rutinas-wrap .rutinas-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
.rutinas .rutinas-wrap .rutinas-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.rutinas .rutinas-wrap .rutinas-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}
.rutinas .rutinas-wrap .rutinas-links {
  text-align: center;
  z-index: 4;
}
.rutinas .rutinas-wrap .rutinas-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.rutinas #rutinas-flters li:hover, .rutinas #rutinas-flters li.filter-active {
  color: #fff;
  background: #ff004d;
}

.rutinas #rutinas-flters li:last-child {
  margin-right: 0;
}

.rutinas .rutinas-wrap::before {
  content: "";
  background: rgba(85, 98, 112, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.rutinas .rutinas-wrap .rutinas-links a:hover {
  color: #fff;
}

.rutinas .rutinas-wrap:hover::before {
  opacity: 1;
}

.rutinas .rutinas-wrap:hover img {
  transform: scale(1.2);
}

.rutinas .rutinas-wrap:hover .rutinas-info {
  opacity: 1;
}

.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.faq .faq-item i {
  color: #dee2e6;
  font-size: 20px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}
.faq .faq-item h4 {
  color: #9d0b28;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 28px;
  font-family: "Poppins", sans-serif;
}
.faq .faq-item p {
  font-size: 15px;
}

.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #556270;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #9d0b28;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #556270;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #556270;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #9d0b28;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: #9d0b28;
  display: inline-block;
  padding: 8px 35px 9px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .featured h3 {
  color: #fff;
  background: #9d0b28;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #5a082d;
  color: #fff;
}

.pricing .btn-buy:hover {
  background: #5a082d;
}

.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #556270;
  float: left;
  width: 44px;
  height: 44px;
  background: #edeff1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #556270;
}
.contact .info h4 p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #8795a4;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .email-form {
  width: 100%;
  background: #fff;
}
.contact .email-form .form-group {
  padding-bottom: 8px;
}
.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #9d0b28;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .email-form .error-message br + br {
  margin-top: 25px;
}
.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .email-form input, .contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .email-form input {
  height: 44px;
}
.contact .email-form textarea {
  padding: 10px 12px;
}
.contact .email-form button[type=submit] {
  background: #9d0b28;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #556270;
  color: #fff;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input:focus, .contact .email-form textarea:focus {
  border-color: #9d0b28;
}

.contact .email-form button[type=submit]:hover {
  background: #ff004d;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nosotros {
  padding: 40px 0 20px 0;
}
.nosotros .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.nosotros .entry .entry-img {
  text-align: center;
  max-height: 400px;
  overflow: hidden;
  transition: 0.5s;
}
.nosotros .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.nosotros .entry .entry-title a {
  color: #556270;
  transition: 0.3s;
}
.nosotros .entry .entry-content p {
  line-height: 24px;
}
.nosotros .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.nosotros .entry .entry-content .read-more a {
  display: inline-block;
  background: #9d0b28;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.5s;
}
.nosotros .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.nosotros .entry-img:hover {
  transform: scale(0.9);
}

.nosotros .entry .entry-title a:hover {
  color: #9d0b28;
}

.nosotros .entry .entry-content .read-more a:hover {
  background: #9d0b28;
  transform: scale(1.2);
}

.redes {
  background-color: #f8f8f8;
}

.disciplinas {
  overflow: hidden;
}
.disciplinas .nav-tabs {
  border: 0;
}
.disciplinas .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #556270;
  border-radius: 0;
  border-right: 2px solid white;
  font-weight: 600;
  font-size: 15px;
}
.disciplinas .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #556270;
}
.disciplinas .details p {
  color: #556270;
}

.disciplinas .nav-link:hover {
  color: #9d0b28;
}

.disciplinas .nav-link.active {
  color: #9d0b28;
  border-color: #9d0b28;
}

.disciplinas .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.disciplinas .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .disciplinas .nav-link {
    border: 0;
    padding: 15px;
  }

  .disciplinas .nav-link.active {
    color: #fff;
    background: #9d0b28;
  }
}
#footer {
  background: #e6e6e6;
  padding: 0 0 30px 0;
  color: #5a082d;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
#footer .credits a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  font-weight: 600;
}

#footer .credits a:hover {
  color: #ff004d;
}

/*# sourceMappingURL=estilos.css.map */
